body, html {
    margin: 0;
    padding: 0;
    font-family: "Arial";
}

html, body, #app, .main-layout {
    height: 100%;
    font-family: "Arial";
}

body {
    background-color: white;
}

// Imput
.el-input__inner:focus{
    border-color: $purple !important;
}
.el-textarea__inner:focus{
    border-color: $purple !important;
}

.container {
    margin: 2% auto 0 auto;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.page-title {
    font-size: 50px;
    color: white;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
}

//Login
.login-back {
    background: $gray-6;
    width: 100%;
    height: 100%;
}

.login {
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: auto;
}

.login_form_items {
    padding-left: 30px;
    padding-right: 30px;
    width: 350px;
}

.login-header {
    text-align: center;
}

.title {
    font-size: 30px;
    color: white;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
}

.login-icon {
    color: $gray-4;
}



//Layout
.img-dash {
    width: 53px;
    margin-left: 3%;
}

.el-header {
    background-color: #9615db;
    line-height: 60px;
}

.logout {
    border: none !important;
    background: transparent !important;
    color: white !important;
}

.logout:hover {
    background: $purple !important;
    color: white !important;
}

.logout:focus {
    color: white !important;
}

.el-menu-layout {
    background: $gray-1 !important;
    position: absolute !important;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px !important;
}

.menu-icon {
    width: 25%;
}

.el-menu-item {
    height: 45px !important;
    padding-right: 30% !important;
    padding-left: 10% !important;
    background: $gray-1 !important;

    .hover {
        background: $indigo !important;
        color: $gray-6;
    }

    .is-active {
        background: $indigo !important;
        color: $gray-6;
    }
}

.el-aside {
    width: 200px !important;
    height: 100% !important;
}

.menu-label {
    padding-right: 10%;
    padding-left: 10%;
    vertical-align: center;
}

// Buttons
.el-button {
    border-radius: 10px !important;;

    &.el-button--warning {
        background-color: $orange !important;
        border-color: $orange !important;
        color: white !important;

        &:hover {
            background-color: lighten($orange, 10) !important;
            border-color: lighten($orange, 10) !important;
            color: white !important;
        }

        &:focus {
            background-color: lighten($orange, 10) !important;
            border-color: lighten($orange, 10) !important;
            color: white !important;
        }
    }

    &.el-button--primary {
        background: $purple;
        border-color: $purple;
        color: white;

        &:hover {
            background-color: lighten($purple, 10);
            border-color: lighten($purple, 10);
            color: white;
        }

        &:focus {
            background-color: lighten($purple, 10);
            border-color: lighten($purple, 10);
            color: white;
        }
    }

    &.el-button--info {
        background: $gray_4;
        border-color: $gray_4;
        color: white;

        &:hover {
            background-color: lighten($gray_4, 5);
            border-color: lighten($gray_4, 5);
            color: white;
        }

        &:focus {
            background-color: lighten($gray_4, 5);
            border-color: lighten($gray_4, 5);
            color: white;
        }
    }
    &.el-button--danger {
        background: $red;
        border-color: $red;
        color: white;

        &:hover {
            background-color: lighten($red, 5);
            border-color: lighten($red, 5);
            color: white;
        }

        &:focus {
            background-color: lighten($red, 5);
            border-color: lighten($red, 5);
            color: white;
        }
    }
    &.el-button--success {
        background: $green;
        border-color: $green;
        color: white;

        &:hover {
            background-color: lighten($green, 5);
            border-color: lighten($green, 5);
            color: white;
        }

        &:focus {
            background-color: lighten($green, 5);
            border-color: lighten($green, 5);
            color: white;
        }
    }
}

//flex-container
.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    align-content: space-around;
}

.grid-item {
    padding: 5px;
    width: 23%;
}
@media(max-width: 1263px) {
    .grid-item {
        width: 25%;
    }
}
@media(max-width: 959px) {
    .grid-item {
        width: auto;
        max-width: 25%;
        flex-grow: 1;
        min-width: 200px;
    }
}
@media(max-width: 840px) {
    .grid-item {
        max-width: 33.33%;
    }
}

@media(max-width: 640px) {
    .grid-item {
        max-width: 50%;
    }
}

@media(max-width: 640px) {
    .grid-item {
        max-width: 100%;
    }
}
