<template>
    <div>
        <el-card>
            <div>
                <el-row :gutter="5">
                    <el-col :span="16">
                        <span style="font-size: 20px"><strong>{{blogs.title}}</strong></span>
                    </el-col>
                </el-row>

                <p style="font-size: 20px">{{blogs.description}}</p>

                <el-divider></el-divider>

                <el-row style="text-align: right">
                    <inertia-link :href="'/blogs/' + blogs.id">
                        <el-button icon="fas fa-eye" type="primary" size="medium"></el-button>
                    </inertia-link>
                </el-row>
            </div>
        </el-card>
    </div>
</template>

<script>
    export default {
        name: 'blogs',
        props: {
            blogs: Object
        },
    }
</script>
