<template>
    <layout>
        <div>
            <el-row>
                <el-col :span="12">
                    <span style="font-size: 30px"><strong>Editar Blog</strong></span>
                </el-col>
            </el-row>

            <el-divider></el-divider>

            <el-card>
                <el-form :model="form" ref="form" :rules="rules">
                    <el-row :gutter="20">
                        <el-col :span="12">
                            <el-form-item label="Titulo del blog" prop="title">
                                <el-input placeholder="Titulo del blog" v-model="form.title"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="Descripcion del blog" prop="description">
                                <el-input placeholder="Descripcion del blog" v-model="form.description"></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>

                    <el-row>
                        <el-col>
                            <el-form-item label="Informacion del blog" prop=info>
                                <el-input placeholder="Informacion del blog" v-model="form.info"></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>

                    <div style="text-align: center; padding-top: 10px">
                        <el-button :loading="loading" type="primary" @click="submit()">Guardar</el-button>
                    </div>

                </el-form>
            </el-card>
        </div>
    </layout>
</template>

<script>
    import Layout from "../../Shared/Layout";

    export default {
        components: {
            Layout,
        },
        data() {
            return {
                baseUrl: '/blogs',
                blogs: {},
                loading: false,
                form: {},
                rules: {
                    title: {required: true, message: 'El titulo del blog es requerido.'},
                    description: {required: true, message: 'La descripcion del blog es requerida.'},
                    info: {required: true, message: 'La informacion del blog es requerida.'},
                },
            }
        },
        methods: {
            submit() {
                this.$refs.form.validate((valid) => {
                    if (valid) {
                        let data = new FormData();
                        data.append('title', this.form.title);
                        data.append('description', this.form.description);
                        data.append('info', this.form.info);

                        this.loading = true;

                        this.$inertia.post(this.baseUrl + '/' + this.form.id, data)
                            .then(
                                () => {
                                    this.$message({
                                        type: 'success',
                                        message: 'Guardado correctamente.'
                                    });
                                    this.loading = false;
                                })
                    }
                });
            },
        },
        mounted() {
            if (this.$page.blogs) {
                this.form = this.$page.blogs;
            }
        },
    }
</script>
