<template>
    <layout>
        <div>
            <el-row>
                <el-col :span="12">
                    <span style="font-size: 30px"><strong>Blogs</strong></span>
                </el-col>
                <el-col :span="12" style="text-align: right;">
                    <inertia-link :href="'/blogs/create'">
                        <el-button type="primary"><strong>Nuevo</strong></el-button>
                    </inertia-link>
                </el-col>
            </el-row>

            <el-divider></el-divider>

            <el-table :data="blogs" style="width: 80%; text-align: center">

                <el-table-column prop="title" label="Titulo"></el-table-column>

                <el-table-column prop="description" label="Descripcion"></el-table-column>

                <el-table-column label="Operaciones">
                    <template slot-scope="scope">

                        <inertia-link style="margin-right: 10px" :href="'/blogs/' + scope.row.id">
                            <el-button icon="fas fa-eye" type="primary" size="medium"></el-button>
                        </inertia-link>

                        <inertia-link style="margin-right: 10px" :href="'/blogs/' + scope.row.id + '/edit'">
                            <el-button icon="fas fa-pencil-alt" size="medium" type="primary"></el-button>
                        </inertia-link>
                        <el-button icon="fas fa-trash" size="medium" type="primary" @click="remove(scope.row.id)"></el-button>
                    </template>
                </el-table-column>
            </el-table>

        </div>

    </layout>
</template>

<script>
    import Layout from "../../Shared/Layout";

    export default {
        components: {
            Layout
        },
        data() {
          return {
              baseUrl: '/blogs',
              blogs: [],
              loading: false,
              form: {
                  image: '',
                  title: '',
                  description: '',
                  info: '',
              },
              rules: {
                  title: {required: true, message: 'El titulo del blog es requerido.'},
                  description: {required: true, message: 'La descripcion del blog es requerida.'},
                  info: {required: true, message: 'La informacion del blog es requerida.'},
              },
          }
        },
        methods: {
            remove($id) {
                this.$confirm('Esta seguro que quiere eliminar este blog?', 'Advertencia', {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancelar',
                    cancelButtonClass: 'el-button--info',
                    type: 'warning'
                }).then(() => {
                    this.$inertia.delete(this.baseUrl + '/' + $id);
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: 'Eliminar cancelado'
                    });
                });
            },
        },
        mounted() {
            if (this.$page.blogs) {
                this.blogs = this.$page.blogs;
            }
        }
    }
</script>
