<template>
    <layout>
        <div>
            <el-header>
                    <span style="font-size: 40px" class="page-title"><strong>{{blogs.title}}</strong></span>
            </el-header>

            <el-divider></el-divider>

            <el-col>
                <el-row>
                    <el-col>
                        <span style="font-size: 30px"><strong>Descripcion del Blog</strong></span>
                    </el-col>
                    <el-col style="padding-top: 10px">
                        <span style="font-size: 20px">{{blogs.description}}</span>
                    </el-col>
                </el-row>

                <el-divider></el-divider>

                <el-row>
                    <el-col>
                        <span style="font-size: 30px"><strong>Informacion del Blog</strong></span>
                    </el-col>
                    <el-col style="padding-top: 10px">
                        <span style="font-size: 20px">{{blogs.info}}</span>
                    </el-col>
                </el-row>

            </el-col>

        </div>
    </layout>
</template>

<script>
    import Layout from "../../Shared/Layout";
    export default {
        components: {
            Layout
        },

        data() {
            return {
                blogs: {},
            }
        },
        mounted() {
            if (this.$page.blogs) {
                this.blogs = this.$page.blogs;
            }
        }
    }
</script>
