<template>
    <el-container style="height: 100%">
        <el-header>
            <inertia-link href="/">
                <span style="font-size: 40px" class="page-title"><strong>BLOG</strong></span>
            </inertia-link>
        </el-header>
        <el-header style="background-color: #434a54; text-align: right">
            <inertia-link href="/blogs">
                <span class="page-title" style="font-size: 25px"><strong>Blogs</strong></span>
            </inertia-link>
            <span class="page-title" style="font-size: 25px"><strong>|</strong></span>
            <inertia-link href="/blogs">
                <span class="page-title" style="font-size: 25px"><strong>Usuarios</strong></span>
            </inertia-link>
            <span class="page-title" style="font-size: 25px"><strong>|</strong></span>
            <inertia-link href="/logout">
                <span class="page-title" style="font-size: 25px"><strong>Salir</strong></span>
            </inertia-link>
        </el-header>

        <el-container>
            <el-main>
                <slot></slot>
            </el-main>
        </el-container>

    </el-container>

</template>


<script>
    export default {
        name: 'layout',

        data() {
            return {}
        },
        methods: {},
        mounted() {
        }
    }
</script>
