<template>
    <Layout>
        <div>
            <div class="grid-container">
                <div class="grid-item" v-for="(b, index) in blogs" :key="index">
                    <blog-component :blogs="b"></blog-component>
                </div>
            </div>
        </div>
    </Layout>
</template>
<script>
    import Layout from "../../Shared/Layout";
    import BlogComponent from "../../components/BlogComponent";

    export default {
        components: {
            BlogComponent,
            Layout,
        },
        data() {
            return {
                blogs: []
            }
        },
        mounted() {
            if (this.$page.blogs) {
                this.blogs  = this.$page.blogs;
            }
        }
    }
</script>
