<template>
    <div>
        <el-header style="height: 50px"></el-header>
        <el-header style="height: 10px; background-color: #434a54"></el-header>

        <el-container class="login">
            <el-card>

                <el-header class="login-header">
                    <span class="title">Login</span>
                </el-header>

                    <el-form :model="form" ref="form" :rules="rules">
                        <el-form-item label="Usuario" prop="username">
                            <el-input placeholder="Usuario" v-model="form.username"></el-input>
                        </el-form-item>

                        <el-form-item label="Contrasena" prop="password">
                            <el-input placeholder="Contrasena" show-password v-model="form.password"></el-input>
                        </el-form-item>

                        <div v-if="$page.prop.errors">
                            <div v-for="error in $page.prop.errors">
                                <el-alert :closable="false" type="error" title="Ha sucedido un error"></el-alert>
                            </div>
                        </div>

                        <div style="text-align: center; padding-top: 10px">
                            <el-button type="primary" icon="el-icon-user-solid" @click="submit()"> Entrar </el-button>
                        </div>
                    </el-form>
            </el-card>
        </el-container>
        {{$page.prop.errors}}
    </div>
</template>

<script>
    export default {
        components: {},
        data() {
            return {
                data: '',
                contenido: '',

                form: {
                    username: '',
                    password: ''
                },
                rules: {
                    username: {required: true, message: 'El usuario es requerido', trigger: 'blur'},
                    password: {required: true, message: 'La contrasena es requerida', trigger: 'blur'},
                }
            }
        },
        methods: {
            submit() {
                this.$refs.form.validate((valid) => {
                    if (valid) {
                        this.$inertia.post('/login', {
                            username: this.form.username,
                            password: this.form.password
                        });
                    }
                });
            },
        },
    }
</script>
